{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{% endblock content3 %}
{% block content4 %}"../media/{{ user.image }}"{% endblock content4 %}
{% block content %}
    <head>
        <script src="https://kit.fontawesome.com/57456f662e.js" crossorigin="anonymous"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        STUDENT | APPLICATION DETAILS
    </body>

{% endblock content %}